<div class="cZero" fxLayout="column">
  <div class="cZRow" fxLayout="column">
    <h1>Regular Expressions</h1>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <ul>
          <li>
            Two main rules
            <ul>
              <li>The earliest (leftmost) match wins</li>
              <li>Standard quantifiers are greedy</li>
            </ul>
          </li>
          <li>
            NFA Engines (Details Right side &rarr;)
            <ul>
              <li>Traditional NFA</li>
              <li>POSIX (always picks the longest of the leftmode matches.</li>
              Example:
              <code>cat|category</code>
              Would match "category" even if "cat" appears earlier.
            </ul>
          </li>
        </ul>
      </div>
      <div fxFlex="40" class="cZRegexRowRight">
        <ul>
          <li>
            Regular Expression Engines
            <ul>
              <li>DFA: Deterministic Finite Automation</li>
              <li>NFA: Nondeterministic Finite Automation</li>
              <ul>
                Slower than DFA but:
                <li>Capturing, Look-Around and NonGreedy Quantifiers</li>
              </ul>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h2>Character Representations</h2>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Special Characters</h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div *ngFor="let c of specialCharacters" class="cMono">
          {{ c }}
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Octal Escape: <span class="cMono">\num</span></h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div
          *ngFor="let c of octalEscape"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div class="cMono">
            {{ c[0] }}
          </div>
          <div>{{ c[1] }}</div>
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>
      Hex and Unicode Escapes:
      <span *ngFor="let n of hexUniCodeEscapes" class="cMono">{{ n }}</span>
    </h3>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Control Characters: <span class="cMono">\cchar</span></h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div
          *ngFor="let c of controlCharacters"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div class="cMono">
            {{ c[0] }}
          </div>
          <div>{{ c[1] }}</div>
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h2>Character Classes and Class-Like Constructs</h2>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Normal Classes</h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div *ngFor="let c of normalClasses" class="cMono">
          {{ c }}
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Class Shorthands (Excerpt)</h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div *ngFor="let c of classShorthands" class="cMono">
          {{ c }}
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>Posix Character Classes (Excerpt)</h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">
        <div *ngFor="let c of posixClasses" class="cMono">
          {{ c }}
        </div>
      </div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>
      Unicode Properties, Scripts and Blocks (Excerpt):
      <span *ngFor="let n of unicodeClassesCo" class="cMono">{{ n }}</span>
    </h3>
    <div class="cStdText">
      <a
        href="http://www.regular-expressions.info/unicode.html#category"
        target="_blank"
        >See Details at:
        http://www.regular-expressions.info/unicode.html#category</a
      >
      or
      <a
        href="https://www.fileformat.info/info/unicode/category/index.htm"
        target="_blank"
        >here: https://www.fileformat.info/info/unicode/category/index.htm</a
      >
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="cZRegexColumnRow">
      <div fxFlex class="cZRegexColumnRowLeft" fxLayout="row wrap"></div>
      <div
        fxFlex
        class="cZRegexColumnRowRight"
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <div
          *ngFor="let c of unicodeClassesCoExamples"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div class="cMono">
            {{ c[0] }}
          </div>
          <div [innerHTML]="c[1]"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cZRow" fxLayout="column">
    <h3>Unicode Combining Character Sequence</h3>
    <div fxLayout="column" fxLayoutGap="10px" class="cZRegexColumnRow">
      <div
        fxFlex
        class="cZRegexColumnRowRight"
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <div
          *ngFor="let c of unicodeCombiningCharacterSequence"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div class="cMono">
            {{ c[0] }}
          </div>
          <div>{{ c[1] }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="cZRow" fxLayout="column">
    <h2>Anchors and zero-width assertions</h2>
  </div>

  <div class="cZRow" fxLayout="column">
    <h3>
      Start of Line/String:
      <span *ngFor="let n of startOfLineString" class="cMono">{{ n }}</span>
    </h3>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="cZRegexRow">
      <div fxFlex class="cZRegexRowLeft" fxLayout="row wrap">Description</div>
      <div fxFlex="35" class="cZRegexRowRight"><!-- RIGHT --></div>
    </div>
  </div>
</div>
