/* eb-garamond-regular - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-regular.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
/* eb-garamond-700 - latin */
@font-face {
  font-family: "EB Garamond Bold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/eb-garamond/eb-garamond-v14-latin-700.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
