<div
  fxFill
  fxLayout="column"
  fxLayoutAlign="start stretch"
  class="cDashboard"
  [ngClass]="{ cDebug: debug }"
>
  <div *ngFor="let e of regexExamples; first as firstLine" fxLayout="column">
    <div fxLayout="column" fxLayoutGap="20px" class="cRegexRow">
      <div
        fxLayout="row"
        fxFlex
        class="cRegexString"
        fxLayoutAlign="start center"
      >
        <span
          class="cRegexLetter"
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngFor="let letter of e.regex; index as i"
          [ngClass]="{
            cSlash: letter == '/',
            'cParen cTaller': letter == '(' || letter == ')',
            cOpening: !firstLine && letter == '(',
            cClosing: !firstLine && letter == ')',
            cTaller: !firstLine && (letter == '(' || letter == ')'),
            'cBracket cTall': letter == '[' || letter == ']',
            cTall: !firstLine && (letter == '[' || letter == ']'),
            'cCurly ': letter == '{' || letter == '}',
            'cCaret cDollar': letter == '^' || letter == '$',
            cCaretWithinBracket: letter == '^' && e.regex[i - 1] == '[',
            cDot: letter == '.',
            cPipe: letter == '|',
            cComma: letter == ',',
            cStar: letter == '*',
            cStarNotFirstLine: !firstLine && letter == '*',
            cMinus: letter == '-',
            cPlus: letter == '+',
            cQuestion: letter == '?',
            cEqual: letter == '=',
            cExclamation: letter == '!',
            cColon: letter == ':',
            cMinusNotFirstLine: letter == '-' && !firstLine,
            cEscapeSign: letter == '\\',
            cLikeEscaped: letter == '\\' || e.regex[i - 1] == '\\'
          }"
        >
          <span>
            {{ letter }}
          </span>
        </span>
      </div>
      <div
        fxLayout="column"
        fxLayoutGap="10px"
        class="cRegexDescription"
        [innerHTML]="e.desc"
      ></div>
      <div *ngIf="e.url" fxLayout="row" class="cRegexExternalLink">
        <a [href]="e.url" target="_blank"> >> Beispiel</a>
      </div>
    </div>
  </div>
</div>
