@import "assets/scss/fonts.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-size: 16px;
}

.cDebug {
  border: 1px solid red;
}

.cZero {
  width: max(600px, 80vw);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: "EB Garamond";
}

.cStdBorder {
  // border: 1px solid #ebebeb;
}

.cStdPadding {
  padding: 10px;
}

.cZRow {
  //
}

.cZRegexRow,
.cZRegexColumnRow {
  font-size: 1.2rem;
  background-color: #f3f1f1;
}

.cZRegexRow {
  margin: 10px 0;
}

.cZRegexColumnRow {
  @extend .cStdPadding;
}

.cZRegexRowLeft,
.cZRegexRowRight {
  @extend .cStdBorder;
  @extend .cStdPadding;
}

.cZRegexColumnRowLeft,
.cZRegexColumnRowRight {
  @extend .cStdBorder;
}

.cZRegexColumnRowExampleLeft {
  margin-right: 20px;
}

.cZMonoCharacter {
  font-family: monospace;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-right: 4px;
  padding: 4px;
  background-color: #fafafa;
}

code {
  font-size: 1rem !important;
  background-color: rgb(192, 255, 1);
  padding: 4px;
  margin-right: 5px;
}

.cTitle0 {
  font-family: "EB Garamond Bold";
  font-size: 2rem;
}

.cTitle1 {
  font-family: "EB Garamond Bold";
  font-size: 1.6rem;
}

.cDashboard {
  padding-top: 20px;
}

.cRegexRow {
  font-size: 1.2rem;
  padding-left: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  // border-bottom: 1px dotted gray;
}

.cRegexString {
  font-family: monospace;
}

.cRegexLetter {
  border-radius: 4px;
  width: 30px;
  height: 36px;
  border: 1px solid rgb(144, 143, 143);
  margin-right: 4px;
}

.cTall {
  height: 130%;
  font-size: 1.4rem;
}

.cTaller {
  height: 170%;
  font-size: 2rem;
}

.cRegexDescription,
.cRegexExternalLink {
  font-family: "Trebuchet MS";
  font-size: 1rem;
}

.cSlash {
  background-color: white;
  color: blue;
  border: none;
  font-size: 4rem;
}

.cParen {
  background-color: rgb(1, 82, 13);
  color: white;
}

.cOpening {
  margin-right: -1px;
}

.cClosing {
  margin-left: -6px;
}

.cBracket {
  background-color: rgb(181, 225, 5);
  color: black;
}

.cCurly {
  // font-weight: bold;
  background-color: rgb(254, 217, 30);
  color: black;
}

.cStarNotFirstLine {
  margin-left: -6px;
}

.cCaret,
.cComma,
.cMinus,
.cDot,
.cDollar,
.cStar,
.cPlus,
.cPipe,
.cQuestion,
.cEqual,
.cExclamation,
.cColon {
  font-weight: bold;
  background-color: rgb(115, 0, 255);
  color: yellow;
}

.cCaretWithinBracket {
  margin-left: -6px;
  background-color: rgb(181, 225, 5);
  color: black;
  border-left: 1px solid rgba(black, 0.1);
}

.cMinusNotFirstLine {
  margin-left: -6px;
  margin-right: -2px;
  height: 80%;
}

.cLikeEscaped {
  background-color: orange;
  color: black;
  border: 3px solid red;
}

.cEscapeSign {
  margin-right: -6px;
}
